body, html {
    height: 100%;
    background-image: url("../images/concert-rock-music.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-image {
    background-image: url("../images/nickelback_stage.jpg");
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    font-size:700%;
}

.navbar {
    font-family: sans-serif;
    margin-top: 40px;
}


#banner {
    background-color: rgba(255, 0, 0, 0.55);
    color: white;
    height: 40px;
}

​#banner h4 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}


#meet-the-band {
    color: white;
}


.albums {
    color: white;
}

#headers {
    color: white;
}


footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}