body, html {
    height: 100%;
    background-image: url("../images/concert-rock-music.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hero-image {
    background-image: url("../images/nickelback-logo.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    background-attachment: fixed;
}

.about {
    color: white;
}

.navbar {
    font-family: sans-serif;
    margin-top: 40px;
}


#banner {
    background-color: rgba(255, 0, 0, 0.55);
    color: white;
    height: 40px;
}

#banner h4 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: #000000;
}

.albums {
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
    }

#headers {
    color: white;
}

.tour-dates h2 {
    color: white;
    background color: rgba(0, 0, 0, 0.75)
}


footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

@media only screen and (min-width: 480px) {
    #hero-image{
        height: 500px;
        background-attachment: fixed;
        background-size: contain;
    } 
}


@media only screen and (min-width: 768px) {
     #hero-image{
        height: 600px;
        display: block;
    } 

}


@media only screen and (min-width: 1024px) {
    #hero-image{
        height: 700px;
        display: block;
        width: cover;
    } 
}