body, html {
    background-image: url("../images/concert-rock-music.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hero-image {
    background-image: url("../images/nickelback-logo.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    background-attachment: fixed;
}

.about {
    color: white;
}

.navbar {
    font-family: sans-serif;
    margin-top: 40px;
}


#banner {
    background-color: rgba(255, 0, 0, 0.55);
    color: white;
    height: 40px;
}

#banner h4 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: #000000;
}

.albums {
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
    }

#headers {
    color: white;
}


.tour-dates h4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

button {
    all: unset;
    cursor: pointer;
    color: white;
    height: 40px;
    width: 100%;
}
button h4 {
    text-align: center;
    width: 100%;
}

button h4:hover {
    color: rgb(219, 219, 20)
}




footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

@media only screen and (min-width: 480px) {
    #hero-image{
        height: 500px;
        background-attachment: fixed;
        background-size: contain;
    } 
}


@media only screen and (min-width: 768px) {
     #hero-image{
        height: 600px;
        display: block;
    } 

}


@media only screen and (min-width: 1024px) {
    #hero-image{
        height: 700px;
        display: block;
        width: cover;
    } 
}

* {
    box-sizing: border-box
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: right;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    color:rgba(12, 133, 18, 0.75)
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}